<!DOCTYPE html>
<html>
<head>
<title>管理员列表</title>
<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			<div class="form-group col-sm-2">
				<input type="text" class="form-control" v-model="q.username" @keyup.enter="query" placeholder="用户名、手机号码、车牌号码、注册时间">
			</div>
			<a class="btn btn-default" @click="query">查询</a>

			<#if shiro.hasPermission("sys:app:send")>
			<a class="btn btn-primary"  @click="sendMsg"><i class="fa fa-comments-o"></i>&nbsp;发送模板消息</a>
		    </#if>
			<!--
			<#if shiro.hasPermission("sys:user:save")>
			<a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("sys:user:update")>
			<a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("sys:user:delete")>
			<a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
			-->
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>

	<div v-show="!showList" class="panel panel-default">


		<div style="padding: 10px 0 20px 10px;">
			<b>&nbsp;&nbsp;&nbsp;发送模板消息</b>
		</div>


        <div class="form-group">
            template_id(必填):<input type="text" class="form-control" style="height:30px;width: 35%"  v-model="message.template_id">
        </div>
        <div class="form-group">
            touser(必填):<input type="text" class="form-control" style="height:30px;width: 35%" placeholder="填写用户openid则向对应用户发送消息,填写%allUser%则向所有用户发送消息。"  v-model="message.touser">
        </div>
        <div class="form-group">
            page:<input type="text" class="form-control" style="height:30px;width: 35%" placeholder="pages/listEir/Eir" readonly="readonly" v-model="message.page">
        </div>
        <div class="form-group">
            keyword1(选填):<input type="text" class="form-control" style="height:30px;width: 35%"  v-model="message.keyword1">
        </div>
        <div class="form-group">
            keyword2(选填):<input type="text" class="form-control" style="height:30px;width: 35%"  v-model="message.keyword2">
        </div>
        <div class="form-group">
            keyword3(选填):<input type="text" class="form-control" style="height:30px;width: 35%"  v-model="message.keyword3">
        </div>
        <div class="form-group">
            keyword4(选填):<input type="text" class="form-control" style="height:30px;width: 35%"  v-model="message.keyword4">
        </div>
        <div class="form-group">
            keyword5(选填):<input type="text" class="form-control" style="height:30px;width: 35%"  v-model="message.keyword5">
        </div>



        <div class="form-group">
            <div class="col-sm-2 control-label"></div>

            <#if shiro.hasPermission("sys:app:all")>
                <input type="button" class="btn btn-primary" @click="sendAll"  value="发送"/>
            </#if>
            &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
        </div>

	</div>
</div>


<script src="${request.contextPath}/statics/js/modules/sys/wxuser.js?_${.now?long}"></script>
</body>
</html>